.dashboard__menu{
  display: flex;
}
.dashboard__sidebar{
  height:100vh;
  position:fixed;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.24);
 
  
}
.dashboard__sidebar ul{
  list-style: none;
}
.dashboard__sidebar ul li{
  padding: 10px;
  font-size: 13px;
  font-weight: 500;
}
.dashboard__logo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px 20px 0px;
  border-bottom: 2px solid #F5F5F5;
}

.dashboard__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height:50px;
  width:82.5vw;
  margin-left: 256px;
  background-color: #0b172e;
  position:fixed;
  font-size: 12px;
  padding: 10px;
}

.homeicon{
  width:20px;
  margin-right: 20px;
  color:darkgrey;
}
.dashboard__headerinput{
  background-color: #0b172e;
  outline:none;
  color:whitesmoke;
  border: none;
  font-size: 12px;
}
.dashboard__headerinput::placeholder{
  color:lightgray;
}
.headericon{
  width:12px;
  margin-right: 20px;
  color:lightgray;
}
.dropdownicon{
  width:8px;
  margin-right: 20px;
  margin-top: 5px;
  margin-left: 5px;
  color:rgba(255,255,255,0.7);
}
.dashboard__headersearch{
  display: flex;
}
.dashboard__headersearch .searchicon{
  width:12px;
  margin-top: 5px;
  color:lightgray;
}
.dashboard__headerprofile{
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard__headerlanguage{
  display: flex;
}
.dashboard__headerinputlanguage{
  background-color: #0b172e;
  outline:none;
  color:whitesmoke;
  border: none;
  width:50px;
}
.dashboard__headerinputlanguage::placeholder{
  color:lightgray;
}
.dashboard__headerprofile span{
  padding-left: 10px;
  color: lightgray;
}
.profile__pic{
  width:50%;
  object-fit: contain;
  border-radius: 100%;
}
/*===
Main page
===*/
.mainpage{
  background-color: #F9F9F9;
  height:100vh;
  margin-left: 255px;
}
.mainpage__header{
  background-color: white;
  padding:5px 0px 5px 0px;
 
}
.mainpage__header  ul{
 list-style: none;
 display: flex;
 font-size: 13px;
 margin-left: -20px;

}
.mainpage__header ul li{
  margin-right: 10px;
}
.mainpage__header ul li:nth-child(3){
  margin-left: 10px;
  margin-top: 2px;
  color:lightgray;
}
.mainpage__home{
  width:18px;
  margin-right: 5px;
  
}
.agriculture__statistics{
  padding-top: 100px;
}
.line{
  width:2px;
  background-color: #cccccc;
}
/*===
Statistics dashboard
===*/
.statistics__dashboard{
  display: flex;
  margin-left: 20px;
  margin-top: 25px;
}
.statistics__dashboard div{
  box-shadow: 0px 3px 8px rgba(0,0,0,0.24);
  width:40vw;
  background-color: white;
  margin-right: 20px;
  padding:15px;
  border-radius: 3px;
}
.statistics__dashboard div:nth-child(1){
  background-color: rgba(245, 41, 41);
  color:white;
}
.statistics__dashboard div:nth-child(2){
  background-color: rgb(36, 148, 36);
  color:white;
}
.statistics__dashboard div:nth-child(3){
  background-color: rgb(25, 130, 196);
  color:white;
}
.statistics__dashboard div:nth-child(4){
  background-color: rgb(231, 122, 79);
  color:white;
}